.App {
  text-align: center;
}

.cards {
  margin: 0%;
  height: 0%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.botões {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
}

.video1 {
  justify-content: space-between;
}
