.App {
  text-align: center;
  margin: 0%;
  height: 0%;
}

.cards {
  margin: 0%;
  height: 0%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.botões {
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  justify-content: space-between;
}

.video1 {
  justify-content: space-between;
}

.mãe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navBar {
  display: flex;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}
